flask_server/__pycache__
flask_server/env
react_playlist/public
react_playlist/.eslintrc.cjs
react_playlist/src/assets/react.svg
react_playlist/vite.config.js
music-playlist/.gitignore
music-playlist/README.md
music-playlist/package-lock.json
music-playlist/public/vite.svg
music-playlist/vite.config.js
music-playlist/.eslintrc.cjs
