.template_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid white;
}

.template_header {
    display: flex;
    flex-direction: row;
    margin: 40px;
    justify-content: space-between;
}

#edit_button {
    height: 40px;
    width: 120px;
    background-color: var(--dark-red);
    font-weight: 900;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
    border: none;
}

#edit_button:hover {
    background-color: var(--light-red);
}

.song_list {
    margin: 0 20px;
}