<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<title>Music Playlist</title>
</head>
<body>
	<nav>
		<div class="logo"><a href="/">MusicPlaylists</a> </div>
		<ul class="menu">
			<li><a href="/">Home</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
		</ul>
		<div class="search">
			<form action="/search" method="post">
				<input type="text" placeholder="Search for title, artist, album, and playlist!">
				<select name="search_type">
					<option value="song">Song</option>
					<option value="artist">Artist</option>
				</select>
				<button type="submit">Go</button>
			</form>
		</div>
		<ul class="sign">
			{% block user %}{% endblock %}
		</ul>
	</nav>

	

	{% block content %}{% endblock %}
</body>
</html>
 

