.navbar {
    display: flex;
}

.table-container {
    margin-top: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
}

table {
    border-collapse: collapse;
    background-color: rgba(43, 45, 66, .8);
    border: 2px solid black;
}

td {
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}