.table_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    margin: 80px;
}

.table-container {
    margin-top: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.add_cell {
    background-color: #e56b6f;
    font-size: 32px;
    font-weight: 900;
    color: black;
    cursor: pointer;
}

.add_cell:hover {
    color: white;
    background-color: var(--light-red);
    transition: background-color 1s ease, color 1s ease;
}