.playlistcard_container {
    display: flex;
    position: relative;
    height: 280px;
    width: 260px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
}

.playlistcard_container:hover {
    background-color: var(--dark-gray);
    transition: background-color 0.4s ease;
}

.playlistcard_container:hover .close {
    visibility: visible;
}

.close {
    display: flex;
    visibility: hidden;
    font-weight: 800;
    font-style: italic;
    color: var(--light-gray)
}

.close:hover {
    color: var(--light-red);
}

.playlistcard_img {
    margin-top: 8px;
    height: 200px;
    width: 200px;
    background-color: red;
}

.playlist_name {
    font-size: 20px;
    margin-top: 8px;
}