.songcard_container {
    display: flex;
    position: relative;
    height: 50px;
    z-index: 1001;
    width: 100%;
    background-color: black;
    align-items: center;
    border-bottom: 2px solid var(--dark-gray);
}

.song_title,
.song_artist,
.song_album,
.song_time {
    display: flex;
    align-items: center;
    margin-right: 5%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.song_title,
.song_artist,
.song_album {
    width: 30%;
    justify-content: flex-start;
}

.song_title {
    margin-left: 2.5%;
}

.song_time {
    display: flex;
    width: 10%;
    justify-content: flex-end;
}

.remove_song {
    justify-self: center;
    cursor: pointer;
}

.remove_container {
    height: 30px;
    width: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 32px;
    margin-right: 2.5%;
}

.remove_song:hover {
    transform: scale(1.4);
    transition: transform 1s ease;
    animation: rotate 5s infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}