/*--------------------------------=DOWNDOWN CONTAINER=--------------------------------*/
.explore_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    margin: 40px;
}

.explore_dropdown {
    background-color: black;
    color: white;
    width: 200px;
    margin-bottom: 20px;
    position: absolute;
    top: 100px;
    left: 70px;
}

.explore_dropdown select {
    background-color: black;
    color: white;
    border: 2px solid var(--dark-red);
    padding: 10px;
    width: 100%;
    font-size: 32px;
    text-align: center;
}

.dropdown_select {
    font-size: 16px !important;
}

/*--------------------------------=TABLE CONTAINER=--------------------------------*/
.table_container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 16px 0;
}

.table-container {
    margin-top: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.column {
    padding: 20px;
    font-weight: 700;
}

.header {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    border-bottom: 2px solid var(--dark-red);
}

.explore_table {
    width: auto;
    text-align: center;
    background-color: black;
    border: 2px solid var(--dark-red);
    border-collapse: collapse;
}